@using Shop.Pages.Models
@model Shop.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Лучшие автомобили</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.favCars)
        {
            @Html.Partial("AllCars",car)
        }
    }
</div>